<!-- $title Rapid Bootstrap V3 -->
<!-- $author Niklaus Gerber | www.niklausgerber.com -->

!!! 5

%html{"dir" => "ltr", :lang => "en"}	

	%head
	
		%title <!-- $title | Title -->
		
		/ Meta
		%meta{"charset" => "utf-8"}
		%meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
		%meta{"name" => "description", :content => "<!-- $description | Description -->"}		
		%meta{ :content => "width=device-width, initial-scale=1.0", :name => "viewport" }
		
		/ Link
		%link(rel="alternate" type="application/rss+xml" href="#" title="Feed")
		%link(rel="canonical" href="#")
		%link(rel="author" title="<!-- $author | Author -->")
		%link(rel="search" href="#" title="Search")
		
		/ Robots
		%meta{"name" => "robots", :content => "index,follow"}
		
		/ Favicons		
		%link(rel="logo" type="image/svg" href="<!-- @path logo.svg -->")
		%link(rel="shortcut icon" href="<!-- @path favicon.ico -->")
		%link(rel="apple-touch-icon" href="<!-- @path apple-touch-icon-57x57.png -->")				
		%link(rel="apple-touch-icon" sizes="57x57" href="<!-- @path apple-touch-icon-57x57.png -->")
		%link(rel="apple-touch-icon" sizes="114x114" href="<!-- @path apple-touch-icon-114x114.png -->")
		%link(rel="apple-touch-icon" sizes="72x72" href="<!-- @path apple-touch-icon-72x72.png -->")
		%link(rel="apple-touch-icon" sizes="144x144" href="<!-- @path apple-touch-icon-144x144.png -->")
		%link(rel="apple-touch-icon" sizes="60x60" href="<!-- @path apple-touch-icon-60x60.png -->")
		%link(rel="apple-touch-icon" sizes="120x120" href="<!-- @path apple-touch-icon-120x120.png -->")
		%link(rel="apple-touch-icon" sizes="76x76" href="<!-- @path apple-touch-icon-76x76.png -->")
		%link(rel="apple-touch-icon" sizes="152x152" href="<!-- @path apple-touch-icon-152x152.png -->")
		%link(rel="icon" type="image/png" href="<!-- @path favicon-16x16.png" sizes="16x16")
		%link(rel="icon" type="image/png" href="<!-- @path favicon-32x32.png" sizes="32x32")
		%link(rel="icon" type="image/png" href="<!-- @path favicon-96x96.png" sizes="96x96")
		%link(rel="icon" type="image/png" href="<!-- @path favicon-160x160.png" sizes="160x160")		
		%meta{"name" => "msapplication-TileColor", :content => "#2b5797"}
		%meta{"name" => "msapplication-TileImage", :content => "<!-- @path mstile-144x144.png -->"}
		%meta{"name" => "msapplication-square70x70logo", :content => "<!-- @path mstile-70x70.png -->"}
		%meta{"name" => "msapplication-square150x150logo", :content => "<!-- @path mstile-150x150.png -->"}
		%meta{"name" => "msapplication-square310x310logo", :content => "<!-- @path mstile-310x310.png -->"}
		
		/ CSS
		<!-- @stylesheet normalize setup grid typography hyperlinks code tables forms quotes lists layout helpers print -->		
		
		/ Typekit
		%script(src="//use.typekit.net/xxx.js")
		%script
			try{Typekit.load();}catch(e){}
			
	%body
		%div.container
			%div.grid.full
				%h1 Header H1
				
				%hr
				
				%h2 Header H2
				
				%hr
				
				%h3 Header H3
				
				%hr
				
				%h2 Paragraph
				
				%p
					<strong>Lorem ipsum dolor sit amet</strong>, <i>consetetur sadipscing elitr</i>, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. <a href="#">Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</a>
				
				%p
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
				
				%hr
				
				%h3 Small Paragraph
				
				%p
					<small>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</small>
				
				%hr
				
				%h2 Quote
				
				%blockquote
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
				
				%hr
				
				%h2 Code
				
				%pre
					%code
						Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
				
				%hr
				
				%h2 Fluid Image Embed
				
				<img src="http://placehold.it/980x490">
				
				%hr
				
				%h2 Fluid Video Embeds
				
				%div.Flexible-container
					<iframe src="http://player.vimeo.com/video/53914149?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=808080" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				
				%hr
				
				%h2 Structured Elements
				
				%h3 Table
				
				%tr
					%td row 1, cell 1
					%td row 1, cell 2
				%tr
					%td row 2, cell 1
					%td row 2, cell 2
					
				%hr
				
				%h3 Unordered List
				
				%ul
					%li Unordered List
					%li Unordered List
					%li Unordered List
					
				%hr
				
				%h3 Ordered List
				
				%ol
					%li Ordered List
					%li Ordered List
					%li Ordered List
					
				%hr
				
				%h3 Defined List
				
				%dl
					%dt Defined List
					%dt Defined List
					
			%div.cf
			
			%div.grid.full
				
				%h2 The Grid
				
			%div.cf
			
			/ Grid Full
			%div.grid.full
				%h3 1/1
				%p
					%pre
						%code							
							&lt;div class="grid.full"&gt;&lt;/div&gt;
																						
			%div.cf
			
			/ Gird Half
			%div.grid.half
				%h3 1/2
				%p
					%pre
						%code							
							&lt;div class="grid half"&gt;&lt;/div&gt;
							
			%div.grid.half
				%h3 1/2
				%p
					%pre
						%code							
							&lt;div class="grid half"&gt;&lt;/div&gt;
																						
			%div.cf
			
			/ Grid Third
			%div.grid.third
				%h3 1/3
				%p
					%pre
						%code							
							&lt;div class="grid third"&gt;&lt;/div&gt;
							
			%div.grid.third
				%h3 1/3
				%p
					%pre
						%code							
							&lt;div class="grid third"&gt;&lt;/div&gt;
							
			%div.grid.third
				%h3 1/3
				%p
					%pre
						%code							
							&lt;div class="grid third"&gt;&lt;/div&gt;
																						
			%div.cf
			
			/ Gird One Third / Two Third
			%div.grid.one-third
				%h3 1/3
				%p
					%pre
						%code							
							&lt;div class="grid one-third"&gt;&lt;/div&gt;
							
			%div.grid.two-third
				%h3 2/3
				%p
					%pre
						%code							
							&lt;div class="grid two-third"&gt;&lt;/div&gt;

			%div.cf
			
			/ Grid Fourth
			%div.grid.fourth
				%h3 1/4
				%p
					%pre
						%code							
							&lt;div class="grid fourth"&gt;&lt;/div&gt;
							
			%div.grid.fourth
				%h3 1/4
				%p
					%pre
						%code							
							&lt;div class="grid fourth"&gt;&lt;/div&gt;		
			
			%div.grid.fourth
				%h3 1/4
				%p
					%pre
						%code							
							&lt;div class="grid fourth"&gt;&lt;/div&gt;		
							
			%div.grid.fourth
				%h3 1/4
				%p
					%pre
						%code							
							&lt;div class="grid fourth"&gt;&lt;/div&gt;		
										
			%div.cf
			
			/ Grid Fifth
			%div.grid.fifth
				%h3 1/5
				%p
					%pre
						%code							
							&lt;div class="grid fifth"&gt;&lt;/div&gt;
			%div.grid.fifth
				%h3 1/5
				%p
					%pre
						%code							
							&lt;div class="grid fifth"&gt;&lt;/div&gt;
			
			%div.grid.fifth
				%h3 1/5
				%p
					%pre
						%code							
							&lt;div class="grid fifth"&gt;&lt;/div&gt;
			
			%div.grid.fifth
				%h3 1/5
				%p
					%pre
						%code							
							&lt;div class="grid fifth"&gt;&lt;/div&gt;
			
			%div.grid.fifth
				%h3 1/5
				%p
					%pre
						%code							
							&lt;div class="grid fifth"&gt;&lt;/div&gt;
							
			%div.cf
			
			/ Grid Sixth
			%div.grid.sixth
				%h3 1/6
				%p
					%pre
						%code							
							&lt;div class="grid sixth"&gt;&lt;/div&gt;
			%div.grid.sixth
				%h3 1/6
				%p
					%pre
						%code							
							&lt;div class="grid sixth"&gt;&lt;/div&gt;
			
			%div.grid.sixth
				%h3 1/6
				%p
					%pre
						%code							
							&lt;div class="grid sixth"&gt;&lt;/div&gt;
			%div.grid.sixth
				%h3 1/6
				%p
					%pre
						%code							
							&lt;div class="grid sixth"&gt;&lt;/div&gt;
			
			%div.grid.sixth
				%h3 1/6
				%p
					%pre
						%code							
							&lt;div class="grid sixth"&gt;&lt;/div&gt;
			%div.grid.sixth
				%h3 1/6
				%p
					%pre
						%code							
							&lt;div class="grid sixth"&gt;&lt;/div&gt;
			
			%div.cf
			
			/ Grid Seventh
			%div.grid.seventh
				%h3 1/7
				%p
					%pre
						%code							
							&lt;div class="grid sixth"&gt;&lt;/div&gt;
			
			%div.grid.seventh
				%h3 1/7
				%p
					%pre
						%code							
							&lt;div class="grid sixth"&gt;&lt;/div&gt;
			
			%div.grid.seventh
				%h3 1/7
				%p
					%pre
						%code							
							&lt;div class="grid sixth"&gt;&lt;/div&gt;
			
			%div.grid.seventh
				%h3 1/7
				%p
					%pre
						%code							
							&lt;div class="grid sixth"&gt;&lt;/div&gt;
			
			%div.grid.seventh
				%h3 1/7
				%p
					%pre
						%code							
							&lt;div class="grid sixth"&gt;&lt;/div&gt;
			
			%div.grid.seventh
				%h3 1/7
				%p
					%pre
						%code							
							&lt;div class="grid sixth"&gt;&lt;/div&gt;
			
			%div.grid.seventh
				%h3 1/7
				%p
					%pre
						%code							
							&lt;div class="grid sixth"&gt;&lt;/div&gt;
			
			%div.cf
			
			/ Grid Eighth
			%div.grid.eighth
				%h3 1/8
				%p
					%pre
						%code							
							&lt;div class="grid eighth"&gt;&lt;/div&gt;
			
			%div.grid.eighth
				%h3 1/8
				%p
					%pre
						%code							
							&lt;div class="grid eighth"&gt;&lt;/div&gt;
			%div.grid.eighth
				%h3 1/8
				%p
					%pre
						%code							
							&lt;div class="grid eighth"&gt;&lt;/div&gt;
			
			%div.grid.eighth
				%h3 1/8
				%p
					%pre
						%code							
							&lt;div class="grid eighth"&gt;&lt;/div&gt;
			
			%div.grid.eighth
				%h3 1/8
				%p
					%pre
						%code							
							&lt;div class="grid eighth"&gt;&lt;/div&gt;
			
			%div.grid.eighth
				%h3 1/8
				%p
					%pre
						%code							
							&lt;div class="grid eighth"&gt;&lt;/div&gt;
			%div.grid.eighth
				%h3 1/8
				%p
					%pre
						%code							
							&lt;div class="grid eighth"&gt;&lt;/div&gt;
			
			%div.grid.eighth
				%h3 1/8
				%p
					%pre
						%code							
							&lt;div class="grid eighth"&gt;&lt;/div&gt;
						
			%div.cf
			
				
		/ Scripts
		<!-- @javascript jquery-1.9.0.min respond.min retina-1.1.0.min scripts -->
		
		/ HTML5 IE Enabling Script
		/[if lt IE 9]
			<!-- @javascript html5 -->