<!-- $title Rapid Bootstrap V3 -->
<!-- $author Niklaus Gerber | www.niklausgerber.com -->

!!! 5

%html{"dir" => "ltr", :lang => "en"}	

	%head
	
		%title <!-- $title | Title -->
		
		/ Meta
		%meta{"charset" => "utf-8"}
		%meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
		%meta{"name" => "description", :content => "<!-- $description | Description -->"}		
		%meta{ :content => "width=device-width, initial-scale=1.0", :name => "viewport" }
		
		/ Link
		%link(rel="alternate" type="application/rss+xml" href="#" title="Feed")
		%link(rel="canonical" href="#")
		%link(rel="author" title="<!-- $author | Author -->")
		%link(rel="search" href="#" title="Search")
		
		/ Robots
		%meta{"name" => "robots", :content => "index,follow"}
		
		/Favicons		
		%link(rel="logo" type="image/svg" href="<!-- @path logo.svg -->")
		%link(rel="shortcut icon" href="<!-- @path favicon.ico -->")
		%link(rel="apple-touch-icon" href="<!-- @path apple-touch-icon-57x57.png -->")
		%link(rel="apple-touch-icon" sizes="72x72" href="<!-- @path apple-touch-icon-72x72.png -->")
		%link(rel="apple-touch-icon" sizes="114x114" href="<!-- @path apple-touch-icon-114x114.png -->")
		%link(rel="apple-touch-icon" sizes="144x144" href="<!-- @path apple-touch-icon-144x144.png -->")
		
		/ CSS
		<!-- @stylesheet normalize setup grid typography hyperlinks code tables forms quotes lists layout helpers print -->		
		
		/ Typekit
		%script(src="//use.typekit.net/xxx.js")
		%script
			try{Typekit.load();}catch(e){}
			
	%body
		
	
		/ Scripts
		<!-- @javascript jquery-1.9.0.min respond.min retina.js scripts -->
		
		/ HTML5 IE Enabling Script
		/[if lt IE 9]
			<!-- @javascript html5 -->